<mat-tab-group mat-align-tabs="center" *ngIf="!idselecionado">

    <mat-tab [label]="tab.nome" *ngFor="let tab of tabs">

        <div fxLayout="row wrap" fxLayoutAlign="center" fxLayout.lt-md="column" fxLayoutAlign.lt-md="start stretch"
            fxLayoutGap="1rem" class="tab-conteudo">

            <mat-card fxFlex="1 1 20rem" fxFlex.lt-md="0 0 auto" fxLayout="column">
                <h1 fxFlex="0 0 auto">{{tab.modulo.titulo}}</h1>
                <mat-card-content fxFlex="1 0 auto" fxLayout="column" fxLayoutAlign="space-between">
                    <span fxFlex="0 0 auto" class="materia"
                        *ngFor="let opcao of tab.materias.opcoes">{{opcao.nome}}</span>
                    <button fxFlex="0 0 auto" mat-flat-button color="primary"
                        (click)="clickOpcao(tab.modulo)">{{opcao.nome}}</button>
                </mat-card-content>
            </mat-card>

            <mat-card fxFlex="1 1 20rem" fxFlex.lt-md="0 0 auto">
                <h1>{{tab.materias.titulo}}</h1>
                <mat-card-content fxLayout="column" fxLayoutGap="1rem">
                    <button fxFlex="0 0 auto" mat-flat-button color="primary"
                        *ngFor="let opcao of tab.materias.opcoes"
                        (click)="clickOpcao(opcao)">{{opcao.nome}}</button>
                </mat-card-content>
            </mat-card>

        </div>

    </mat-tab>

</mat-tab-group>

<app-termos [(id)]="idselecionado" [titulo]="tituloselecionado" *ngIf="idselecionado"></app-termos>