app-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

div {
    position: fixed;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media (max-width: 599px) {
    div {
        top: 56px;
    }
}